{% extends 'login_home/base.html' %}

{% block content %}
{% include 'login_home/navbar.html' %}

<html>

<body class="text-center">
    <div class="card"></div>
    <div class="card-group text-left d-inline-block" style="width: 321px;">
        <div class="card" style="margin-top: 85px;"><img class="card-img-top w-100 d-block d-none justify-content-center align-content-center align-self-center flex-wrap mt-auto" src="/images/Inventory_Management_Photo2.png"/>
            <div class="card-body text-center">
                <h4 class="card-title">Inventory Management</h4><a href="{% url 'inventory_main' %}" class="btn btn-primary" role="button" style="background-color: rgb(0,123,255);border-color: rgb(0,123,255);width: 84px;">Go</a></div>
             </div>
    </div>
</body>

</html>

{% endblock %}