{% extends 'login_home/base.html' %}
{% load static %}
{% block content %}

<html>

<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no" />
    <title>Password Reset</title>
    <link rel="stylesheet" href="{% static '/bootstrap/css/bootstrap.min.css' %}" />
    <link rel="stylesheet" href="{% static 'css/Login-Form-Clean-1.css' %}"/>
</head>

<body>
    <div class="newsletter-subscribe">
        <div class="container">
            <div class="text-center intro"><img class="img-fluid align-self-center" src="/images/Boone_Lumber_Logo.png" style="padding-bottom: 12px;max-width: 39%;width: 271px;text-align: center;padding-top: 50px;" />
                <h2 class="text-center" style="margin-bottom: 15px;font-size: 29px;">Password Reset Complete</h2>
                <p class="text-center d-inline-block" style="margin-bottom: 14px;width: 323px;">Your password has been set. You may go ahead and log in now.<br /></p>
            </div>
            <div>
                <form class="form-inline d-flex d-md-flex d-lg-flex d-xl-flex justify-content-center align-items-start justify-content-sm-center justify-content-md-center justify-content-lg-center justify-content-xl-center" method="post">
                    {% csrf_token %}
                    <div class="form-group"><a href="/" class="btn btn-block text-capitalize" style="background-color: rgb(0,123,255);border-color: rgba(255,255,255,0);width: 84px;color: rgb(255,255,255);">Login</a></div>
                </form>
            </div>
        </div>
    </div>
</body>

</html>

{% endblock %}