{% extends 'login_home/base.html' %}

{% block content %}

<html lang="en">

  <head>
    <!--Chart js-->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.8.0/Chart.min.js" integrity="sha256-Uv9BNBucvCPipKQ2NS9wYpJmi8DTOEfTA/nH2aoJALw=" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.8.0/Chart.min.css" integrity="sha256-aa0xaJgmK/X74WM224KMQeNQC2xYKwlAt08oZqjeF0E=" crossorigin="anonymous" />
    <!-- jQuery -->
    <script src="https://code.jquery.com/jquery-3.3.1.min.js"></script>

    <title>{% block title %}{% endblock title %}</title>
  </head>

  <body>
  {% include 'login_home/navbar.html' %}

    <script>
        $(document).ready(function(){

        new Chart(document.getElementById("bar-chart"), {
            type: 'bar',
            data: {
              labels: [{% for item in dataset1_labels %}'{{item}}',{% endfor %}],
              datasets: [
                {
                  label: "Quantity",
                  backgroundColor: ["#F44336", "#9C27B0","#3F51B5", "#03A9F4", "#00BCD4", "#009688", "#4CAF50", "#8BC34A", "#FFEB3B","#FF9800"],
                  data: [{% for item in dataset1_values %}{{item}},{% endfor %}]
                }
              ]
            },
            options: {
              legend: { display: false },
              title: {
                display: false,
                text: 'Inventory Quantity by Group'
              }
            }
        });

        new Chart(document.getElementById("pie-chart"), {
            type: 'pie',
            data: {
              labels: [{% for item in dataset2_labels %}'{{item}}',{% endfor %}],
              datasets: [{
                label: "Population (millions)",
                backgroundColor: ["#F44336", "#9C27B0","#3F51B5", "#03A9F4", "#00BCD4", "#009688", "#4CAF50", "#8BC34A", "#FFEB3B","#FF9800"],
                data: [{% for item in dataset2_values %}{{item}},{% endfor %}]
              }]
            },
            options: {
            legend: { position: 'top' },
              title: {
                display: false,
                text: 'Inventory Total USD by Group'
              }
            }
        });

        });


    </script>


            <div style="padding: 26px;margin-top: 0px">
                <div class="row">
                    <div class="col" style="padding-right: 7px">
                        <div class="text-center"> <h5>Total Inventory Quantity by Group</h5></div>
                        <canvas id="bar-chart" width=auto height=auto>
                    </div>
                    <div class="col" style="padding-left: 7px;">
                        <div class="text-center"><h5>Total Inventory in USD by Group</h5></div>
                        <canvas id="pie-chart" width=auto height=auto></canvas>
                    </div>
                </div>
            </div>
        </div>

    </div>

    </div>


            <div style="padding: 26px;padding-top: 13px;">
                <div class="row">
                    <div class="col" style="padding-right: 7px">
                        <div class="table-responsive-md table table-sm" style="margin-bottom: 0px;background-color: rgba(86,18,18,0);">
                            <table class="table table-hover table table-striped">
                                <thead>

                                <div class="text-center"> <h5>Products w/ Lowest Inventory Quantity</h5></div>
                                    <tr>
                                        <th class="text-center" style="font-size: 14px;background-color: #007bff;color: rgb(255,255,255);width: auto;">Rank #</th>
                                        <th class="text-center" style="font-size: 14px;background-color: #007bff;color: rgb(255,255,255);width: auto;">Product</th>
                                        <th class="text-center" style="font-size: 14px;background-color: #007bff;color: rgb(255,255,255);width: auto;">Total Quantity</th>
                                    </tr>
                                </thead>
                                <tbody>
                                {% for label, value in dataset3_zip %}
                                    <tr>
                                        <td class="text-center" style="font-size: 12px;height: 27px;width: auto;">{{ forloop.counter }}</td>
                                        <td class="text-center" style="font-size: 12px;height: 27px;width: auto;">{{ label }}</td>
                                        <td class="text-center" style="font-size: 12px;height: 27px;">{{ value }}</td>
                                    </tr>
                                    {% endfor %}
                                    <tr></tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                    <div class="col" style="padding-left: 7px;">
                        <div class="table-responsive-md table table-sm" style="margin-bottom: 0px;background-color: rgba(86,18,18,0);">
                            <table class="table table-hover table table-striped">
                                <thead>
                                <div class="text-center"> <h5>Products w/ Highest Inventory Quantity</h5></div>
                                    <tr>
                                        <th class="text-center" style="font-size: 14px;background-color: #007bff;color: rgb(255,255,255);width: auto;">Rank #</th>
                                        <th class="text-center" style="font-size: 14px;background-color: #007bff;color: rgb(255,255,255);width: auto;">Product</th>
                                        <th class="text-center" style="font-size: 14px;background-color: #007bff;color: rgb(255,255,255);width: auto;">Total Quantity</th>
                                    </tr>
                                </thead>
                                <tbody>
                                {% for label, value in dataset4_zip %}
                                    <tr>
                                        <td class="text-center" style="font-size: 12px;height: 27px;width: auto;">{{ forloop.counter }}</td>
                                        <td class="text-center" style="font-size: 12px;height: 27px;width: auto;">{{ label }}</td>
                                        <td class="text-center" style="font-size: 12px;height: 27px;">{{ value }}</td>
                                    </tr>
                                    {% endfor %}
                                    <tr></tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>



  </body>
</html>

{% endblock %}






