{% extends 'login_home/base.html' %}

{% block content %}
{% include 'login_home/navbar.html' %}
<html>


<div class="card-group border-white flex-wrap flex-sm-nowrap m-sm-auto flex-md-nowrap" style="width: 832px;height: 422px;margin: 15px;margin-top: 28px;padding: 0px;padding-left: 0px;padding-right: 0px;">
    <div class="card d-flex justify-content-center mt-auto" style="margin-top: 85px;margin-right: 10px;width: 321px;margin-left: 10px;min-width: 256px;max-width: 321px;"><img class="card-img-top w-100 d-block d-none justify-content-center align-content-center align-self-center flex-wrap mt-auto" src="/images/Purchase_Order.png" height="200px" />
        <div class="card-body text-center">
            <h4 class="text-nowrap card-title">Purchase Order</h4><a class="btn btn-primary" role="button" style="background-color: rgb(0,123,255);border-color: rgba(255,255,255,0);width: 84px;" href="{% url 'purchase_order' %}">Go</a></div>
    </div>
    <div class="card mt-auto" style="margin-top: 85px;margin-right: 10px;width: 321px;margin-left: 10px;min-width: 256px;max-width: 321px;"><img class="card-img-top w-100 d-block d-none justify-content-center align-content-center align-self-center flex-wrap mt-auto" src="/images/Adjust_Inventory.png" height="200px" />
        <div class="card-body text-center">
            <h4 class="text-nowrap card-title">Adjust Inventory</h4><a class="btn btn-primary" role="button" style="background-color: rgb(0,123,255);border-color: rgba(255,255,255,0);width: 84px;" href="{% url 'inventory_adjustment' %}">Go</a></div>
    </div>
    <div class="card mt-auto" style="margin-top: 85px;width: 321px;margin-right: 10px;margin-left: 10px;min-width: 256px;max-width: 321px;"><img class="card-img-top w-100 d-block d-none justify-content-center align-content-center align-self-center flex-wrap mt-auto" src="/images/Sales_Order.png" height="200px" />
        <div class="card-body text-center">
            <h4 class="text-nowrap card-title">Sales Order</h4><a class="btn btn-primary" role="button" style="background-color: rgb(0,123,255);border-color: rgba(255,255,255,0);width: 84px;" href="{% url 'sales_order' %}">Go</a></div>
    </div>
</div>

</html>



{% endblock %}