{% extends 'login_home/base.html' %}

{% block content %}
{% include 'login_home/navbar.html' %}
<br>
<div class="container w-100" >
    <h2 class="text-center">Sales Order</h2>
    <hr>


    <form action="" method="post">
        {% csrf_token %}
        <h4 class="text-center">Order Information</h4>
        <br>
        <body>
            <div style="padding-top: 13px;">
                <div class="row">
                    <div class="col" style="padding-right: 5px;width: auto;max-width: 160px;"><label class="col-form-label d-md-flex justify-content-md-start" style="width: auto;">To:</label></div>
                    <div class="col d-md-flex flex-grow-1 align-items-md-center" style="padding: 0px;padding-left: 0px;width: auto;max-width: none;padding-right: 5px;">{{ form.to }}</div>
                    <div class="col" style="padding-right: 5px;width: auto;max-width: 112px;"><label class="col-form-label d-md-flex justify-content-md-start" style="width: auto;">Ship To:</label></div>
                    <div class="col d-md-flex flex-grow-1 align-items-md-center" style="padding: 0px;padding-left: 3px;width: auto;max-width: none;padding-right: 5px;">{{ form.ship_to }}</div>

                </div>
            </div>
        </body>
        <body>
            <div style="padding-top: 13px;">
                <div class="row">
                    <div class="col" style="padding-right: 5px;width: auto;max-width: 160px;"><label class="col-form-label d-md-flex justify-content-md-start" style="width: auto;">Customer Phone:</label></div>
                    <div class="col d-md-flex flex-grow-1 align-items-md-center" style="padding: 0px;padding-left: 0px;width: auto;max-width: none;padding-right: 5px;">{{ form.phone }}</div>
                    <div class="col" style="padding-right: 5px;width: auto;max-width: 160px;"><label class="col-form-label d-md-flex justify-content-md-start" style="width: auto;">P.O. #:</label></div>
                    <div class="col d-md-flex flex-grow-1 align-items-md-center" style="padding: 0px;padding-left: 3px;width: auto;max-width: none;padding-right: 5px;">{{ form.po_number }}</div>
                    <div class="col" style="padding-right: 5px;width: auto;max-width: 150px;"><label class="col-form-label d-md-flex justify-content-md-start" style="width: auto;">Sales Rep Name:</label></div>
                    <div class="col d-md-flex flex-grow-1 align-items-md-center" style="padding: 0px;padding-left: 3px;width: auto;max-width: 150px;padding-right: 5px;">{{ form.sales_rep }}</div>

                </div>
            </div>
        </body>
        <body>
            <div style="padding-top: 13px;">
                <div class="row">
                    <div class="col" style="padding-right: 5px;width: auto;max-width: 160px;"><label class="col-form-label d-md-flex justify-content-md-start" style="width: auto;">Customer Contact:</label></div>
                    <div class="col d-md-flex flex-grow-1 align-items-md-center" style="padding: 0px;padding-left: 0px;width: auto;max-width: none;padding-right: 5px;">{{ form.customer_contact }}</div>
                    <div class="col" style="padding-right: 5px;width: auto;max-width: 160px;"><label class="col-form-label d-md-flex justify-content-md-start" style="width: auto;">Shipping Method:</label></div>
                    <div class="col d-md-flex flex-grow-1 align-items-md-center" style="padding: 0px;padding-left: 3px;width: auto;max-width: none;padding-right: 5px;">{{ form.shipping_method }}</div>
                    <div class="col" style="padding-right: 5px;width: auto;max-width: 150px;"><label class="col-form-label d-md-flex justify-content-md-start" style="width: auto;">Payment Terms:</label></div>
                    <div class="col d-md-flex flex-grow-1 align-items-md-center" style="padding: 0px;padding-left: 3px;width: auto;max-width: 150px;padding-right: 5px;">{{ form.payment_terms }}</div>
                </div>
            </div>
        </body>
        <body>
            <div style="padding-top: 13px;">
                <div class="row">
                    <div class="col" style="padding-right: 5px;width: auto;max-width: 160px;"><label class="col-form-label d-md-flex justify-content-md-start" style="width: auto;">Sales Order Date:</label></div>
                    <div class="col d-md-flex flex-grow-1 align-items-md-center" style="padding: 0px;padding-left: 0px;width: auto;max-width: 175px;padding-right: 5px;">{{ form.date }}</div>
                </div>
            </div>
        </body>
        <hr>
        <h4 class="text-center">Orders</h4>
        <body>
            <div style="padding-top: 13px;">
                <div class="row">
                    <div class="col" style="padding-right: 0px;width: auto;max-width: 195px;"><label class="col-form-label d-md-flex justify-content-md-start" style="width: auto;max-width: 195px;">Product #1:</label></div>
                    <div class="col d-md-flex flex-grow-1 align-items-md-center" style="padding: 0px;padding-left: 0px;width: auto;max-width: none;padding-right: 5px;">{{ form.so_unique_product1 }}</div>
                    <div class="col" style="padding-right: 0px;width: auto;max-width: 195px;padding-left: 11px;"><label class="col-form-label d-md-flex justify-content-md-start" style="width: auto;max-width: 195px;">Quantity #1:</label></div>
                    <div class="col d-md-flex align-items-md-center" style="padding-left: 5px;min-width: none;max-width: 200px;width: auto;padding-right: 8px;">{{ form.so_order_quantity1 }}</div>
                </div>
            </div>
        </body>
        <body>
            <div style="padding-top: 5px;">
                <div class="row">
                    <div class="col" style="padding-right: 0px;width: auto;max-width: 195px;"><label class="col-form-label d-md-flex justify-content-md-start" style="width: auto;max-width: 195px;">Fulfillment Product #1:</label></div>
                    <div class="col d-md-flex flex-grow-1 align-items-md-center" style="padding: 0px;padding-left: 0px;width: auto;max-width: none;padding-right: 5px;">{{ form.unique_product1 }}</div>
                    <div class="col" style="padding-right: 0px;width: auto;max-width: 195px;padding-left: 11px;"><label class="col-form-label d-md-flex justify-content-md-start" style="width: auto;max-width: 195px;">Fulfillment Quantity #1:</label></div>
                    <div class="col d-md-flex align-items-md-center" style="padding-left: 5px;min-width: none;max-width: 200px;width: auto;padding-right: 8px;">{{ form.order_quantity1 }}</div>
                </div>
            </div>
        </body>
            {%for message in messages %}
                {%if "unique_product1" in message.tags %}
                    <div role="alert" class="alert alert-success d-md-flex align-items-md-center" style="background-color: rgb(255,240,163);border-color: rgba(21,87,36,0);padding-bottom: 0px;height: auto;margin-bottom: 0px;margin-top: 5px;padding-top: 0px;"><span style="color: rgb(98,79,12);"><strong>Warning!</strong> {{message}}</span></div>
                {%endif%}
            {%endfor%}
        <body>
            <div style="padding-top: 13px;">
                <div class="row">
                    <div class="col" style="padding-right: 0px;width: auto;max-width: 195px;"><label class="col-form-label d-md-flex justify-content-md-start" style="width: auto;max-width: 195px;">Product #2:</label></div>
                    <div class="col d-md-flex flex-grow-1 align-items-md-center" style="padding: 0px;padding-left: 0px;width: auto;max-width: none;padding-right: 5px;">{{ form.so_unique_product2 }}</div>
                    <div class="col" style="padding-right: 0px;width: auto;max-width: 195px;padding-left: 11px;"><label class="col-form-label d-md-flex justify-content-md-start" style="width: auto;max-width: 195px;">Quantity #2:</label></div>
                    <div class="col d-md-flex align-items-md-center" style="padding-left: 5px;min-width: none;max-width: 200px;width: auto;padding-right: 8px;">{{ form.so_order_quantity2 }}</div>
                </div>
            </div>
        </body>
        <body>
            <div style="padding-top: 5px;">
                <div class="row">
                    <div class="col" style="padding-right: 0px;width: auto;max-width: 195px;"><label class="col-form-label d-md-flex justify-content-md-start" style="width: auto;max-width: 195px;">Fulfillment Product #2:</label></div>
                    <div class="col d-md-flex flex-grow-1 align-items-md-center" style="padding: 0px;padding-left: 0px;width: auto;max-width: none;padding-right: 5px;">{{ form.unique_product2 }}</div>
                    <div class="col" style="padding-right: 0px;width: auto;max-width: 195px;padding-left: 11px;"><label class="col-form-label d-md-flex justify-content-md-start" style="width: auto;max-width: 195px;">Fulfillment Quantity #2:</label></div>
                    <div class="col d-md-flex align-items-md-center" style="padding-left: 5px;min-width: none;max-width: 200px;width: auto;padding-right: 8px;">{{ form.order_quantity2 }}</div>
                </div>
            </div>
        </body>
            {%for message in messages %}
                {%if "unique_product2" in message.tags %}
                    <div role="alert" class="alert alert-success d-md-flex align-items-md-center" style="background-color: rgb(255,240,163);border-color: rgba(21,87,36,0);padding-bottom: 0px;height: auto;margin-bottom: 0px;margin-top: 5px;padding-top: 0px;"><span style="color: rgb(98,79,12);"><strong>Warning!</strong> {{message}}</span></div>
                {%endif%}
            {%endfor%}
        <body>
            <div style="padding-top: 13px;">
                <div class="row">
                    <div class="col" style="padding-right: 0px;width: auto;max-width: 195px;"><label class="col-form-label d-md-flex justify-content-md-start" style="width: auto;max-width: 195px;">Product #3:</label></div>
                    <div class="col d-md-flex flex-grow-1 align-items-md-center" style="padding: 0px;padding-left: 0px;width: auto;max-width: none;padding-right: 5px;">{{ form.so_unique_product3 }}</div>
                    <div class="col" style="padding-right: 0px;width: auto;max-width: 195px;padding-left: 11px;"><label class="col-form-label d-md-flex justify-content-md-start" style="width: auto;max-width: 195px;">Quantity #3:</label></div>
                    <div class="col d-md-flex align-items-md-center" style="padding-left: 5px;min-width: none;max-width: 200px;width: auto;padding-right: 8px;">{{ form.so_order_quantity3 }}</div>
                </div>
            </div>
        </body>
        <body>
            <div style="padding-top: 5px;">
                <div class="row">
                    <div class="col" style="padding-right: 0px;width: auto;max-width: 195px;"><label class="col-form-label d-md-flex justify-content-md-start" style="width: auto;max-width: 195px;">Fulfillment Product #3:</label></div>
                    <div class="col d-md-flex flex-grow-1 align-items-md-center" style="padding: 0px;padding-left: 0px;width: auto;max-width: none;padding-right: 5px;">{{ form.unique_product3 }}</div>
                    <div class="col" style="padding-right: 0px;width: auto;max-width: 195px;padding-left: 11px;"><label class="col-form-label d-md-flex justify-content-md-start" style="width: auto;max-width: 195px;">Fulfillment Quantity #3:</label></div>
                    <div class="col d-md-flex align-items-md-center" style="padding-left: 5px;min-width: none;max-width: 200px;width: auto;padding-right: 8px;">{{ form.order_quantity3 }}</div>
                </div>
            </div>
        </body>
            {%for message in messages %}
                {%if "unique_product3" in message.tags %}
                    <div role="alert" class="alert alert-success d-md-flex align-items-md-center" style="background-color: rgb(255,240,163);border-color: rgba(21,87,36,0);padding-bottom: 0px;height: auto;margin-bottom: 0px;margin-top: 5px;padding-top: 0px;"><span style="color: rgb(98,79,12);"><strong>Warning!</strong> {{message}}</span></div>
                {%endif%}
            {%endfor%}
        <body>
            <div style="padding-top: 13px;">
                <div class="row">
                    <div class="col" style="padding-right: 0px;width: auto;max-width: 195px;"><label class="col-form-label d-md-flex justify-content-md-start" style="width: auto;max-width: 195px;">Product #4:</label></div>
                    <div class="col d-md-flex flex-grow-1 align-items-md-center" style="padding: 0px;padding-left: 0px;width: auto;max-width: none;padding-right: 5px;">{{ form.so_unique_product4 }}</div>
                    <div class="col" style="padding-right: 0px;width: auto;max-width: 195px;padding-left: 11px;"><label class="col-form-label d-md-flex justify-content-md-start" style="width: auto;max-width: 195px;">Quantity #4:</label></div>
                    <div class="col d-md-flex align-items-md-center" style="padding-left: 5px;min-width: none;max-width: 200px;width: auto;padding-right: 8px;">{{ form.so_order_quantity4 }}</div>
                </div>
            </div>
        </body>
        <body>
            <div style="padding-top: 5px;">
                <div class="row">
                    <div class="col" style="padding-right: 0px;width: auto;max-width: 195px;"><label class="col-form-label d-md-flex justify-content-md-start" style="width: auto;max-width: 195px;">Fulfillment Product #4:</label></div>
                    <div class="col d-md-flex flex-grow-1 align-items-md-center" style="padding: 0px;padding-left: 0px;width: auto;max-width: none;padding-right: 5px;">{{ form.unique_product4 }}</div>
                    <div class="col" style="padding-right: 0px;width: auto;max-width: 195px;padding-left: 11px;"><label class="col-form-label d-md-flex justify-content-md-start" style="width: auto;max-width: 195px;">Fulfillment Quantity #4:</label></div>
                    <div class="col d-md-flex align-items-md-center" style="padding-left: 5px;min-width: none;max-width: 200px;width: auto;padding-right: 8px;">{{ form.order_quantity4 }}</div>
                </div>
            </div>
        </body>
            {%for message in messages %}
                {%if "unique_product4" in message.tags %}
                    <div role="alert" class="alert alert-success d-md-flex align-items-md-center" style="background-color: rgb(255,240,163);border-color: rgba(21,87,36,0);padding-bottom: 0px;height: auto;margin-bottom: 0px;margin-top: 5px;padding-top: 0px;"><span style="color: rgb(98,79,12);"><strong>Warning!</strong> {{message}}</span></div>
                {%endif%}
            {%endfor%}
        <body>
            <div style="padding-top: 13px;">
                <div class="row">
                    <div class="col" style="padding-right: 0px;width: auto;max-width: 195px;"><label class="col-form-label d-md-flex justify-content-md-start" style="width: auto;max-width: 195px;">Product #5:</label></div>
                    <div class="col d-md-flex flex-grow-1 align-items-md-center" style="padding: 0px;padding-left: 0px;width: auto;max-width: none;padding-right: 5px;">{{ form.so_unique_product5 }}</div>
                    <div class="col" style="padding-right: 0px;width: auto;max-width: 195px;padding-left: 11px;"><label class="col-form-label d-md-flex justify-content-md-start" style="width: auto;max-width: 195px;">Quantity #5:</label></div>
                    <div class="col d-md-flex align-items-md-center" style="padding-left: 5px;min-width: none;max-width: 200px;width: auto;padding-right: 8px;">{{ form.so_order_quantity5 }}</div>
                </div>
            </div>
        </body>
        <body>
            <div style="padding-top: 5px;">
                <div class="row">
                    <div class="col" style="padding-right: 0px;width: auto;max-width: 195px;"><label class="col-form-label d-md-flex justify-content-md-start" style="width: auto;max-width: 195px;">Fulfillment Product #5:</label></div>
                    <div class="col d-md-flex flex-grow-1 align-items-md-center" style="padding: 0px;padding-left: 0px;width: auto;max-width: none;padding-right: 5px;">{{ form.unique_product5 }}</div>
                    <div class="col" style="padding-right: 0px;width: auto;max-width: 195px;padding-left: 11px;"><label class="col-form-label d-md-flex justify-content-md-start" style="width: auto;max-width: 195px;">Fulfillment Quantity #5:</label></div>
                    <div class="col d-md-flex align-items-md-center" style="padding-left: 5px;min-width: none;max-width: 200px;width: auto;padding-right: 8px;">{{ form.order_quantity5 }}</div>
                </div>
            </div>
        </body>
            {%for message in messages %}
                {%if "unique_product5" in message.tags %}
                    <div role="alert" class="alert alert-success d-md-flex align-items-md-center" style="background-color: rgb(255,240,163);border-color: rgba(21,87,36,0);padding-bottom: 0px;height: auto;margin-bottom: 0px;margin-top: 5px;padding-top: 0px;"><span style="color: rgb(98,79,12);"><strong>Warning!</strong> {{message}}</span></div>
                {%endif%}
            {%endfor%}
        <body>
            <div style="padding-top: 13px;">
                <div class="row">
                    <div class="col" style="padding-right: 0px;width: auto;max-width: 195px;"><label class="col-form-label d-md-flex justify-content-md-start" style="width: auto;max-width: 195px;">Product #6:</label></div>
                    <div class="col d-md-flex flex-grow-1 align-items-md-center" style="padding: 0px;padding-left: 0px;width: auto;max-width: none;padding-right: 5px;">{{ form.so_unique_product6 }}</div>
                    <div class="col" style="padding-right: 0px;width: auto;max-width: 195px;padding-left: 11px;"><label class="col-form-label d-md-flex justify-content-md-start" style="width: auto;max-width: 195px;">Quantity #6:</label></div>
                    <div class="col d-md-flex align-items-md-center" style="padding-left: 5px;min-width: none;max-width: 200px;width: auto;padding-right: 8px;">{{ form.so_order_quantity6 }}</div>
                </div>
            </div>
        </body>
        <body>
            <div style="padding-top: 5px;">
                <div class="row">
                    <div class="col" style="padding-right: 0px;width: auto;max-width: 195px;"><label class="col-form-label d-md-flex justify-content-md-start" style="width: auto;max-width: 195px;">Fulfillment Product #6:</label></div>
                    <div class="col d-md-flex flex-grow-1 align-items-md-center" style="padding: 0px;padding-left: 0px;width: auto;max-width: none;padding-right: 5px;">{{ form.unique_product6 }}</div>
                    <div class="col" style="padding-right: 0px;width: auto;max-width: 195px;padding-left: 11px;"><label class="col-form-label d-md-flex justify-content-md-start" style="width: auto;max-width: 195px;">Fulfillment Quantity #6:</label></div>
                    <div class="col d-md-flex align-items-md-center" style="padding-left: 5px;min-width: none;max-width: 200px;width: auto;padding-right: 8px;">{{ form.order_quantity6 }}</div>
                </div>
            </div>
        </body>
            {%for message in messages %}
                {%if "unique_product6" in message.tags %}
                    <div role="alert" class="alert alert-success d-md-flex align-items-md-center" style="background-color: rgb(255,240,163);border-color: rgba(21,87,36,0);padding-bottom: 0px;height: auto;margin-bottom: 0px;margin-top: 5px;padding-top: 0px;"><span style="color: rgb(98,79,12);"><strong>Warning!</strong> {{message}}</span></div>
                {%endif%}
            {%endfor%}
        <body>
            <div style="padding-top: 13px;">
                <div class="row">
                    <div class="col" style="padding-right: 0px;width: auto;max-width: 195px;"><label class="col-form-label d-md-flex justify-content-md-start" style="width: auto;max-width: 195px;">Product #7:</label></div>
                    <div class="col d-md-flex flex-grow-1 align-items-md-center" style="padding: 0px;padding-left: 0px;width: auto;max-width: none;padding-right: 5px;">{{ form.so_unique_product7 }}</div>
                    <div class="col" style="padding-right: 0px;width: auto;max-width: 195px;padding-left: 11px;"><label class="col-form-label d-md-flex justify-content-md-start" style="width: auto;max-width: 195px;">Quantity #7:</label></div>
                    <div class="col d-md-flex align-items-md-center" style="padding-left: 5px;min-width: none;max-width: 200px;width: auto;padding-right: 8px;">{{ form.so_order_quantity7 }}</div>
                </div>
            </div>
        </body>
        <body>
            <div style="padding-top: 5px;">
                <div class="row">
                    <div class="col" style="padding-right: 0px;width: auto;max-width: 195px;"><label class="col-form-label d-md-flex justify-content-md-start" style="width: auto;max-width: 195px;">Fulfillment Product #7:</label></div>
                    <div class="col d-md-flex flex-grow-1 align-items-md-center" style="padding: 0px;padding-left: 0px;width: auto;max-width: none;padding-right: 5px;">{{ form.unique_product7 }}</div>
                    <div class="col" style="padding-right: 0px;width: auto;max-width: 195px;padding-left: 11px;"><label class="col-form-label d-md-flex justify-content-md-start" style="width: auto;max-width: 195px;">Fulfillment Quantity #7:</label></div>
                    <div class="col d-md-flex align-items-md-center" style="padding-left: 5px;min-width: none;max-width: 200px;width: auto;padding-right: 8px;">{{ form.order_quantity7 }}</div>
                </div>
            </div>
        </body>
            {%for message in messages %}
                {%if "unique_product7" in message.tags %}
                    <div role="alert" class="alert alert-success d-md-flex align-items-md-center" style="background-color: rgb(255,240,163);border-color: rgba(21,87,36,0);padding-bottom: 0px;height: auto;margin-bottom: 0px;margin-top: 5px;padding-top: 0px;"><span style="color: rgb(98,79,12);"><strong>Warning!</strong> {{message}}</span></div>
                {%endif%}
            {%endfor%}
        <body>
            <div style="padding-top: 13px;">
                <div class="row">
                    <div class="col" style="padding-right: 0px;width: auto;max-width: 195px;"><label class="col-form-label d-md-flex justify-content-md-start" style="width: auto;max-width: 195px;">Product #8:</label></div>
                    <div class="col d-md-flex flex-grow-1 align-items-md-center" style="padding: 0px;padding-left: 0px;width: auto;max-width: none;padding-right: 5px;">{{ form.so_unique_product8 }}</div>
                    <div class="col" style="padding-right: 0px;width: auto;max-width: 195px;padding-left: 11px;"><label class="col-form-label d-md-flex justify-content-md-start" style="width: auto;max-width: 195px;">Quantity #8:</label></div>
                    <div class="col d-md-flex align-items-md-center" style="padding-left: 5px;min-width: none;max-width: 200px;width: auto;padding-right: 8px;">{{ form.so_order_quantity8 }}</div>
                </div>
            </div>
        </body>
        <body>
            <div style="padding-top: 5px;">
                <div class="row">
                    <div class="col" style="padding-right: 0px;width: auto;max-width: 195px;"><label class="col-form-label d-md-flex justify-content-md-start" style="width: auto;max-width: 195px;">Fulfillment Product #8:</label></div>
                    <div class="col d-md-flex flex-grow-1 align-items-md-center" style="padding: 0px;padding-left: 0px;width: auto;max-width: none;padding-right: 5px;">{{ form.unique_product8 }}</div>
                    <div class="col" style="padding-right: 0px;width: auto;max-width: 195px;padding-left: 11px;"><label class="col-form-label d-md-flex justify-content-md-start" style="width: auto;max-width: 195px;">Fulfillment Quantity #8:</label></div>
                    <div class="col d-md-flex align-items-md-center" style="padding-left: 5px;min-width: none;max-width: 200px;width: auto;padding-right: 8px;">{{ form.order_quantity8 }}</div>
                </div>
            </div>
        </body>
            {%for message in messages %}
                {%if "unique_product8" in message.tags %}
                    <div role="alert" class="alert alert-success d-md-flex align-items-md-center" style="background-color: rgb(255,240,163);border-color: rgba(21,87,36,0);padding-bottom: 0px;height: auto;margin-bottom: 0px;margin-top: 5px;padding-top: 0px;"><span style="color: rgb(98,79,12);"><strong>Warning!</strong> {{message}}</span></div>
                {%endif%}
            {%endfor%}
        <body>
            <div style="padding-top: 13px;">
                <div class="row">
                    <div class="col" style="padding-right: 0px;width: auto;max-width: 195px;"><label class="col-form-label d-md-flex justify-content-md-start" style="width: auto;max-width: 195px;">Product #9:</label></div>
                    <div class="col d-md-flex flex-grow-1 align-items-md-center" style="padding: 0px;padding-left: 0px;width: auto;max-width: none;padding-right: 5px;">{{ form.so_unique_product9 }}</div>
                    <div class="col" style="padding-right: 0px;width: auto;max-width: 195px;padding-left: 11px;"><label class="col-form-label d-md-flex justify-content-md-start" style="width: auto;max-width: 195px;">Quantity #9:</label></div>
                    <div class="col d-md-flex align-items-md-center" style="padding-left: 5px;min-width: none;max-width: 200px;width: auto;padding-right: 8px;">{{ form.so_order_quantity9 }}</div>
                </div>
            </div>
        </body>
        <body>
            <div style="padding-top: 5px;">
                <div class="row">
                    <div class="col" style="padding-right: 0px;width: auto;max-width: 195px;"><label class="col-form-label d-md-flex justify-content-md-start" style="width: auto;max-width: 195px;">Fulfillment Product #9:</label></div>
                    <div class="col d-md-flex flex-grow-1 align-items-md-center" style="padding: 0px;padding-left: 0px;width: auto;max-width: none;padding-right: 5px;">{{ form.unique_product9 }}</div>
                    <div class="col" style="padding-right: 0px;width: auto;max-width: 195px;padding-left: 11px;"><label class="col-form-label d-md-flex justify-content-md-start" style="width: auto;max-width: 195px;">Fulfillment Quantity #9:</label></div>
                    <div class="col d-md-flex align-items-md-center" style="padding-left: 5px;min-width: none;max-width: 200px;width: auto;padding-right: 8px;">{{ form.order_quantity9 }}</div>
                </div>
            </div>
        </body>
            {%for message in messages %}
                {%if "unique_product9" in message.tags %}
                    <div role="alert" class="alert alert-success d-md-flex align-items-md-center" style="background-color: rgb(255,240,163);border-color: rgba(21,87,36,0);padding-bottom: 0px;height: auto;margin-bottom: 0px;margin-top: 5px;padding-top: 0px;"><span style="color: rgb(98,79,12);"><strong>Warning!</strong> {{message}}</span></div>
                {%endif%}
            {%endfor%}
        <body>
            <div style="padding-top: 13px;">
                <div class="row">
                    <div class="col" style="padding-right: 0px;width: auto;max-width: 195px;"><label class="col-form-label d-md-flex justify-content-md-start" style="width: auto;max-width: 195px;">Product #10:</label></div>
                    <div class="col d-md-flex flex-grow-1 align-items-md-center" style="padding: 0px;padding-left: 0px;width: auto;max-width: none;padding-right: 5px;">{{ form.so_unique_product10 }}</div>
                    <div class="col" style="padding-right: 0px;width: auto;max-width: 195px;padding-left: 11px;"><label class="col-form-label d-md-flex justify-content-md-start" style="width: auto;max-width: 195px;">Quantity #10:</label></div>
                    <div class="col d-md-flex align-items-md-center" style="padding-left: 5px;min-width: none;max-width: 200px;width: auto;padding-right: 8px;">{{ form.so_order_quantity10 }}</div>
                </div>
            </div>
        </body>
        <body>
            <div style="padding-top: 5px;">
                <div class="row">
                    <div class="col" style="padding-right: 0px;width: auto;max-width: 195px;"><label class="col-form-label d-md-flex justify-content-md-start" style="width: auto;max-width: 195px;">Fulfillment Product #10:</label></div>
                    <div class="col d-md-flex flex-grow-1 align-items-md-center" style="padding: 0px;padding-left: 0px;width: auto;max-width: none;padding-right: 5px;">{{ form.unique_product10 }}</div>
                    <div class="col" style="padding-right: 0px;width: auto;max-width: 195px;padding-left: 11px;"><label class="col-form-label d-md-flex justify-content-md-start" style="width: auto;max-width: 195px;">Fulfillment Quantity #10:</label></div>
                    <div class="col d-md-flex align-items-md-center" style="padding-left: 5px;min-width: none;max-width: 200px;width: auto;padding-right: 8px;">{{ form.order_quantity10 }}</div>
                </div>
            </div>
        </body>
            {%for message in messages %}
                {%if "unique_product_10" in message.tags %}
                    <div role="alert" class="alert alert-success d-md-flex align-items-md-center" style="background-color: rgb(255,240,163);border-color: rgba(21,87,36,0);padding-bottom: 0px;height: auto;margin-bottom: 0px;margin-top: 5px;padding-top: 0px;"><span style="color: rgb(98,79,12);"><strong>Warning!</strong> {{message}}</span></div>
                {%endif%}
            {%endfor%}
        <body>
            <div style="padding-top: 13px;">
                <div class="row">
                    <div class="col" style="padding-right: 0px;width: auto;max-width: 195px;"><label class="col-form-label d-md-flex justify-content-md-start" style="width: auto;max-width: 195px;">Product #11:</label></div>
                    <div class="col d-md-flex flex-grow-1 align-items-md-center" style="padding: 0px;padding-left: 0px;width: auto;max-width: none;padding-right: 5px;">{{ form.so_unique_product11 }}</div>
                    <div class="col" style="padding-right: 0px;width: auto;max-width: 195px;padding-left: 11px;"><label class="col-form-label d-md-flex justify-content-md-start" style="width: auto;max-width: 195px;">Quantity #11:</label></div>
                    <div class="col d-md-flex align-items-md-center" style="padding-left: 5px;min-width: none;max-width: 200px;width: auto;padding-right: 8px;">{{ form.so_order_quantity11 }}</div>
                </div>
            </div>
        </body>
        <body>
            <div style="padding-top: 5px;">
                <div class="row">
                    <div class="col" style="padding-right: 0px;width: auto;max-width: 195px;"><label class="col-form-label d-md-flex justify-content-md-start" style="width: auto;max-width: 195px;">Fulfillment Product #11:</label></div>
                    <div class="col d-md-flex flex-grow-1 align-items-md-center" style="padding: 0px;padding-left: 0px;width: auto;max-width: none;padding-right: 5px;">{{ form.unique_product11 }}</div>
                    <div class="col" style="padding-right: 0px;width: auto;max-width: 195px;padding-left: 11px;"><label class="col-form-label d-md-flex justify-content-md-start" style="width: auto;max-width: 195px;">Fulfillment Quantity #11:</label></div>
                    <div class="col d-md-flex align-items-md-center" style="padding-left: 5px;min-width: none;max-width: 200px;width: auto;padding-right: 8px;">{{ form.order_quantity11 }}</div>
                </div>
            </div>
        </body>
            {%for message in messages %}
                {%if "unique_product_11" in message.tags %}
                    <div role="alert" class="alert alert-success d-md-flex align-items-md-center" style="background-color: rgb(255,240,163);border-color: rgba(21,87,36,0);padding-bottom: 0px;height: auto;margin-bottom: 0px;margin-top: 5px;padding-top: 0px;"><span style="color: rgb(98,79,12);"><strong>Warning!</strong> {{message}}</span></div>
                {%endif%}
            {%endfor%}
        <body>
            <div style="padding-top: 13px;">
                <div class="row">
                    <div class="col" style="padding-right: 0px;width: auto;max-width: 195px;"><label class="col-form-label d-md-flex justify-content-md-start" style="width: auto;max-width: 195px;">Product #12:</label></div>
                    <div class="col d-md-flex flex-grow-1 align-items-md-center" style="padding: 0px;padding-left: 0px;width: auto;max-width: none;padding-right: 5px;">{{ form.so_unique_product12 }}</div>
                    <div class="col" style="padding-right: 0px;width: auto;max-width: 195px;padding-left: 11px;"><label class="col-form-label d-md-flex justify-content-md-start" style="width: auto;max-width: 195px;">Quantity #12:</label></div>
                    <div class="col d-md-flex align-items-md-center" style="padding-left: 5px;min-width: none;max-width: 200px;width: auto;padding-right: 8px;">{{ form.so_order_quantity12 }}</div>
                </div>
            </div>
        </body>
        <body>
            <div style="padding-top: 5px;">
                <div class="row">
                    <div class="col" style="padding-right: 0px;width: auto;max-width: 195px;"><label class="col-form-label d-md-flex justify-content-md-start" style="width: auto;max-width: 195px;">Fulfillment Product #12:</label></div>
                    <div class="col d-md-flex flex-grow-1 align-items-md-center" style="padding: 0px;padding-left: 0px;width: auto;max-width: none;padding-right: 5px;">{{ form.unique_product12 }}</div>
                    <div class="col" style="padding-right: 0px;width: auto;max-width: 195px;padding-left: 11px;"><label class="col-form-label d-md-flex justify-content-md-start" style="width: auto;max-width: 195px;">Fulfillment Quantity #12:</label></div>
                    <div class="col d-md-flex align-items-md-center" style="padding-left: 5px;min-width: none;max-width: 200px;width: auto;padding-right: 8px;">{{ form.order_quantity12 }}</div>
                </div>
            </div>
        </body>
            {%for message in messages %}
                {%if "unique_product_12" in message.tags %}
                    <div role="alert" class="alert alert-success d-md-flex align-items-md-center" style="background-color: rgb(255,240,163);border-color: rgba(21,87,36,0);padding-bottom: 0px;height: auto;margin-bottom: 0px;margin-top: 5px;padding-top: 0px;"><span style="color: rgb(98,79,12);"><strong>Warning!</strong> {{message}}</span></div>
                {%endif%}
            {%endfor%}
        <body>
            <div style="padding-top: 13px;">
                <div class="row">
                    <div class="col" style="padding-right: 0px;width: auto;max-width: 195px;"><label class="col-form-label d-md-flex justify-content-md-start" style="width: auto;max-width: 195px;">Product #13:</label></div>
                    <div class="col d-md-flex flex-grow-1 align-items-md-center" style="padding: 0px;padding-left: 0px;width: auto;max-width: none;padding-right: 5px;">{{ form.so_unique_product13 }}</div>
                    <div class="col" style="padding-right: 0px;width: auto;max-width: 195px;padding-left: 11px;"><label class="col-form-label d-md-flex justify-content-md-start" style="width: auto;max-width: 195px;">Quantity #13:</label></div>
                    <div class="col d-md-flex align-items-md-center" style="padding-left: 5px;min-width: none;max-width: 200px;width: auto;padding-right: 8px;">{{ form.so_order_quantity13 }}</div>
                </div>
            </div>
        </body>
        <body>
            <div style="padding-top: 5px;">
                <div class="row">
                    <div class="col" style="padding-right: 0px;width: auto;max-width: 195px;"><label class="col-form-label d-md-flex justify-content-md-start" style="width: auto;max-width: 195px;">Fulfillment Product #13:</label></div>
                    <div class="col d-md-flex flex-grow-1 align-items-md-center" style="padding: 0px;padding-left: 0px;width: auto;max-width: none;padding-right: 5px;">{{ form.unique_product13 }}</div>
                    <div class="col" style="padding-right: 0px;width: auto;max-width: 195px;padding-left: 11px;"><label class="col-form-label d-md-flex justify-content-md-start" style="width: auto;max-width: 195px;">Fulfillment Quantity #13:</label></div>
                    <div class="col d-md-flex align-items-md-center" style="padding-left: 5px;min-width: none;max-width: 200px;width: auto;padding-right: 8px;">{{ form.order_quantity13 }}</div>
                </div>
            </div>
        </body>
            {%for message in messages %}
                {%if "unique_product_13" in message.tags %}
                    <div role="alert" class="alert alert-success d-md-flex align-items-md-center" style="background-color: rgb(255,240,163);border-color: rgba(21,87,36,0);padding-bottom: 0px;height: auto;margin-bottom: 0px;margin-top: 5px;padding-top: 0px;"><span style="color: rgb(98,79,12);"><strong>Warning!</strong> {{message}}</span></div>
                {%endif%}
            {%endfor%}
        <body>
            <div style="padding-top: 13px;">
                <div class="row">
                    <div class="col" style="padding-right: 0px;width: auto;max-width: 195px;"><label class="col-form-label d-md-flex justify-content-md-start" style="width: auto;max-width: 195px;">Product #14:</label></div>
                    <div class="col d-md-flex flex-grow-1 align-items-md-center" style="padding: 0px;padding-left: 0px;width: auto;max-width: none;padding-right: 5px;">{{ form.so_unique_product14 }}</div>
                    <div class="col" style="padding-right: 0px;width: auto;max-width: 195px;padding-left: 11px;"><label class="col-form-label d-md-flex justify-content-md-start" style="width: auto;max-width: 195px;">Quantity #14:</label></div>
                    <div class="col d-md-flex align-items-md-center" style="padding-left: 5px;min-width: none;max-width: 200px;width: auto;padding-right: 8px;">{{ form.so_order_quantity14 }}</div>
                </div>
            </div>
        </body>
        <body>
            <div style="padding-top: 5px;">
                <div class="row">
                    <div class="col" style="padding-right: 0px;width: auto;max-width: 195px;"><label class="col-form-label d-md-flex justify-content-md-start" style="width: auto;max-width: 195px;">Fulfillment Product #14:</label></div>
                    <div class="col d-md-flex flex-grow-1 align-items-md-center" style="padding: 0px;padding-left: 0px;width: auto;max-width: none;padding-right: 5px;">{{ form.unique_product14 }}</div>
                    <div class="col" style="padding-right: 0px;width: auto;max-width: 195px;padding-left: 11px;"><label class="col-form-label d-md-flex justify-content-md-start" style="width: auto;max-width: 195px;">Fulfillment Quantity #14:</label></div>
                    <div class="col d-md-flex align-items-md-center" style="padding-left: 5px;min-width: none;max-width: 200px;width: auto;padding-right: 8px;">{{ form.order_quantity14 }}</div>
                </div>
            </div>
        </body>
            {%for message in messages %}
                {%if "unique_product_14" in message.tags %}
                    <div role="alert" class="alert alert-success d-md-flex align-items-md-center" style="background-color: rgb(255,240,163);border-color: rgba(21,87,36,0);padding-bottom: 0px;height: auto;margin-bottom: 0px;margin-top: 5px;padding-top: 0px;"><span style="color: rgb(98,79,12);"><strong>Warning!</strong> {{message}}</span></div>
                {%endif%}
            {%endfor%}
        <body>
            <div style="padding-top: 13px;">
                <div class="row">
                    <div class="col" style="padding-right: 0px;width: auto;max-width: 195px;"><label class="col-form-label d-md-flex justify-content-md-start" style="width: auto;max-width: 195px;">Product #15:</label></div>
                    <div class="col d-md-flex flex-grow-1 align-items-md-center" style="padding: 0px;padding-left: 0px;width: auto;max-width: none;padding-right: 5px;">{{ form.so_unique_product15 }}</div>
                    <div class="col" style="padding-right: 0px;width: auto;max-width: 195px;padding-left: 11px;"><label class="col-form-label d-md-flex justify-content-md-start" style="width: auto;max-width: 195px;">Quantity #15:</label></div>
                    <div class="col d-md-flex align-items-md-center" style="padding-left: 5px;min-width: none;max-width: 200px;width: auto;padding-right: 8px;">{{ form.so_order_quantity15 }}</div>
                </div>
            </div>
        </body>
        <body>
            <div style="padding-top: 5px;">
                <div class="row">
                    <div class="col" style="padding-right: 0px;width: auto;max-width: 195px;"><label class="col-form-label d-md-flex justify-content-md-start" style="width: auto;max-width: 195px;">Fulfillment Product #15:</label></div>
                    <div class="col d-md-flex flex-grow-1 align-items-md-center" style="padding: 0px;padding-left: 0px;width: auto;max-width: none;padding-right: 5px;">{{ form.unique_product15 }}</div>
                    <div class="col" style="padding-right: 0px;width: auto;max-width: 195px;padding-left: 11px;"><label class="col-form-label d-md-flex justify-content-md-start" style="width: auto;max-width: 195px;">Fulfillment Quantity #15:</label></div>
                    <div class="col d-md-flex align-items-md-center" style="padding-left: 5px;min-width: none;max-width: 200px;width: auto;padding-right: 8px;">{{ form.order_quantity15 }}</div>
                </div>
            </div>
        </body>
            {%for message in messages %}
                {%if "unique_product_15" in message.tags %}
                    <div role="alert" class="alert alert-success d-md-flex align-items-md-center" style="background-color: rgb(255,240,163);border-color: rgba(21,87,36,0);padding-bottom: 0px;height: auto;margin-bottom: 0px;margin-top: 5px;padding-top: 0px;"><span style="color: rgb(98,79,12);"><strong>Warning!</strong> {{message}}</span></div>
                {%endif%}
            {%endfor%}
        <body>
            <div style="padding-top: 13px;">
                <div class="row">
                    <div class="col" style="padding-right: 0px;width: auto;max-width: 195px;"><label class="col-form-label d-md-flex justify-content-md-start" style="width: auto;max-width: 195px;">Product #16:</label></div>
                    <div class="col d-md-flex flex-grow-1 align-items-md-center" style="padding: 0px;padding-left: 0px;width: auto;max-width: none;padding-right: 5px;">{{ form.so_unique_product16 }}</div>
                    <div class="col" style="padding-right: 0px;width: auto;max-width: 195px;padding-left: 11px;"><label class="col-form-label d-md-flex justify-content-md-start" style="width: auto;max-width: 195px;">Quantity #16:</label></div>
                    <div class="col d-md-flex align-items-md-center" style="padding-left: 5px;min-width: none;max-width: 200px;width: auto;padding-right: 8px;">{{ form.so_order_quantity16 }}</div>
                </div>
            </div>
        </body>
        <body>
            <div style="padding-top: 5px;">
                <div class="row">
                    <div class="col" style="padding-right: 0px;width: auto;max-width: 195px;"><label class="col-form-label d-md-flex justify-content-md-start" style="width: auto;max-width: 195px;">Fulfillment Product #16:</label></div>
                    <div class="col d-md-flex flex-grow-1 align-items-md-center" style="padding: 0px;padding-left: 0px;width: auto;max-width: none;padding-right: 5px;">{{ form.unique_product16 }}</div>
                    <div class="col" style="padding-right: 0px;width: auto;max-width: 195px;padding-left: 11px;"><label class="col-form-label d-md-flex justify-content-md-start" style="width: auto;max-width: 195px;">Fulfillment Quantity #16:</label></div>
                    <div class="col d-md-flex align-items-md-center" style="padding-left: 5px;min-width: none;max-width: 200px;width: auto;padding-right: 8px;">{{ form.order_quantity16 }}</div>
                </div>
            </div>
        </body>
            {%for message in messages %}
                {%if "unique_product_16" in message.tags %}
                    <div role="alert" class="alert alert-success d-md-flex align-items-md-center" style="background-color: rgb(255,240,163);border-color: rgba(21,87,36,0);padding-bottom: 0px;height: auto;margin-bottom: 0px;margin-top: 5px;padding-top: 0px;"><span style="color: rgb(98,79,12);"><strong>Warning!</strong> {{message}}</span></div>
                {%endif%}
            {%endfor%}
        <body>
            <div style="padding-top: 13px;">
                <div class="row">
                    <div class="col" style="padding-right: 0px;width: auto;max-width: 195px;"><label class="col-form-label d-md-flex justify-content-md-start" style="width: auto;max-width: 195px;">Product #17:</label></div>
                    <div class="col d-md-flex flex-grow-1 align-items-md-center" style="padding: 0px;padding-left: 0px;width: auto;max-width: none;padding-right: 5px;">{{ form.so_unique_product17 }}</div>
                    <div class="col" style="padding-right: 0px;width: auto;max-width: 195px;padding-left: 11px;"><label class="col-form-label d-md-flex justify-content-md-start" style="width: auto;max-width: 195px;">Quantity #17:</label></div>
                    <div class="col d-md-flex align-items-md-center" style="padding-left: 5px;min-width: none;max-width: 200px;width: auto;padding-right: 8px;">{{ form.so_order_quantity17 }}</div>
                </div>
            </div>
        </body>
        <body>
            <div style="padding-top: 5px;">
                <div class="row">
                    <div class="col" style="padding-right: 0px;width: auto;max-width: 195px;"><label class="col-form-label d-md-flex justify-content-md-start" style="width: auto;max-width: 195px;">Fulfillment Product #17:</label></div>
                    <div class="col d-md-flex flex-grow-1 align-items-md-center" style="padding: 0px;padding-left: 0px;width: auto;max-width: none;padding-right: 5px;">{{ form.unique_product17 }}</div>
                    <div class="col" style="padding-right: 0px;width: auto;max-width: 195px;padding-left: 11px;"><label class="col-form-label d-md-flex justify-content-md-start" style="width: auto;max-width: 195px;">Fulfillment Quantity #17:</label></div>
                    <div class="col d-md-flex align-items-md-center" style="padding-left: 5px;min-width: none;max-width: 200px;width: auto;padding-right: 8px;">{{ form.order_quantity17 }}</div>
                </div>
            </div>
        </body>
            {%for message in messages %}
                {%if "unique_product_17" in message.tags %}
                    <div role="alert" class="alert alert-success d-md-flex align-items-md-center" style="background-color: rgb(255,240,163);border-color: rgba(21,87,36,0);padding-bottom: 0px;height: auto;margin-bottom: 0px;margin-top: 5px;padding-top: 0px;"><span style="color: rgb(98,79,12);"><strong>Warning!</strong> {{message}}</span></div>
                {%endif%}
            {%endfor%}
        <body>
            <div style="padding-top: 13px;">
                <div class="row">
                    <div class="col" style="padding-right: 0px;width: auto;max-width: 195px;"><label class="col-form-label d-md-flex justify-content-md-start" style="width: auto;max-width: 195px;">Product #18:</label></div>
                    <div class="col d-md-flex flex-grow-1 align-items-md-center" style="padding: 0px;padding-left: 0px;width: auto;max-width: none;padding-right: 5px;">{{ form.so_unique_product18 }}</div>
                    <div class="col" style="padding-right: 0px;width: auto;max-width: 195px;padding-left: 11px;"><label class="col-form-label d-md-flex justify-content-md-start" style="width: auto;max-width: 195px;">Quantity #18:</label></div>
                    <div class="col d-md-flex align-items-md-center" style="padding-left: 5px;min-width: none;max-width: 200px;width: auto;padding-right: 8px;">{{ form.so_order_quantity18 }}</div>
                </div>
            </div>
        </body>
        <body>
            <div style="padding-top: 5px;">
                <div class="row">
                    <div class="col" style="padding-right: 0px;width: auto;max-width: 195px;"><label class="col-form-label d-md-flex justify-content-md-start" style="width: auto;max-width: 195px;">Fulfillment Product #18:</label></div>
                    <div class="col d-md-flex flex-grow-1 align-items-md-center" style="padding: 0px;padding-left: 0px;width: auto;max-width: none;padding-right: 5px;">{{ form.unique_product18 }}</div>
                    <div class="col" style="padding-right: 0px;width: auto;max-width: 195px;padding-left: 11px;"><label class="col-form-label d-md-flex justify-content-md-start" style="width: auto;max-width: 195px;">Fulfillment Quantity #18:</label></div>
                    <div class="col d-md-flex align-items-md-center" style="padding-left: 5px;min-width: none;max-width: 200px;width: auto;padding-right: 8px;">{{ form.order_quantity18 }}</div>
                </div>
            </div>
        </body>
            {%for message in messages %}
                {%if "unique_product_18" in message.tags %}
                    <div role="alert" class="alert alert-success d-md-flex align-items-md-center" style="background-color: rgb(255,240,163);border-color: rgba(21,87,36,0);padding-bottom: 0px;height: auto;margin-bottom: 0px;margin-top: 5px;padding-top: 0px;"><span style="color: rgb(98,79,12);"><strong>Warning!</strong> {{message}}</span></div>
                {%endif%}
            {%endfor%}
        <body>
            <div style="padding-top: 13px;">
                <div class="row">
                    <div class="col" style="padding-right: 0px;width: auto;max-width: 195px;"><label class="col-form-label d-md-flex justify-content-md-start" style="width: auto;max-width: 195px;">Product #19:</label></div>
                    <div class="col d-md-flex flex-grow-1 align-items-md-center" style="padding: 0px;padding-left: 0px;width: auto;max-width: none;padding-right: 5px;">{{ form.so_unique_product19 }}</div>
                    <div class="col" style="padding-right: 0px;width: auto;max-width: 195px;padding-left: 11px;"><label class="col-form-label d-md-flex justify-content-md-start" style="width: auto;max-width: 195px;">Quantity #19:</label></div>
                    <div class="col d-md-flex align-items-md-center" style="padding-left: 5px;min-width: none;max-width: 200px;width: auto;padding-right: 8px;">{{ form.so_order_quantity19 }}</div>
                </div>
            </div>
        </body>
        <body>
            <div style="padding-top: 5px;">
                <div class="row">
                    <div class="col" style="padding-right: 0px;width: auto;max-width: 195px;"><label class="col-form-label d-md-flex justify-content-md-start" style="width: auto;max-width: 195px;">Fulfillment Product #19:</label></div>
                    <div class="col d-md-flex flex-grow-1 align-items-md-center" style="padding: 0px;padding-left: 0px;width: auto;max-width: none;padding-right: 5px;">{{ form.unique_product19 }}</div>
                    <div class="col" style="padding-right: 0px;width: auto;max-width: 195px;padding-left: 11px;"><label class="col-form-label d-md-flex justify-content-md-start" style="width: auto;max-width: 195px;">Fulfillment Quantity #19:</label></div>
                    <div class="col d-md-flex align-items-md-center" style="padding-left: 5px;min-width: none;max-width: 200px;width: auto;padding-right: 8px;">{{ form.order_quantity19 }}</div>
                </div>
            </div>
        </body>
            {%for message in messages %}
                {%if "unique_product_19" in message.tags %}
                    <div role="alert" class="alert alert-success d-md-flex align-items-md-center" style="background-color: rgb(255,240,163);border-color: rgba(21,87,36,0);padding-bottom: 0px;height: auto;margin-bottom: 0px;margin-top: 5px;padding-top: 0px;"><span style="color: rgb(98,79,12);"><strong>Warning!</strong> {{message}}</span></div>
                {%endif%}
            {%endfor%}
        <body>
            <div style="padding-top: 13px;">
                <div class="row">
                    <div class="col" style="padding-right: 0px;width: auto;max-width: 195px;"><label class="col-form-label d-md-flex justify-content-md-start" style="width: auto;max-width: 195px;">Product #20:</label></div>
                    <div class="col d-md-flex flex-grow-1 align-items-md-center" style="padding: 0px;padding-left: 0px;width: auto;max-width: none;padding-right: 5px;">{{ form.so_unique_product20 }}</div>
                    <div class="col" style="padding-right: 0px;width: auto;max-width: 195px;padding-left: 11px;"><label class="col-form-label d-md-flex justify-content-md-start" style="width: auto;max-width: 195px;">Quantity #20:</label></div>
                    <div class="col d-md-flex align-items-md-center" style="padding-left: 5px;min-width: none;max-width: 200px;width: auto;padding-right: 8px;">{{ form.so_order_quantity20 }}</div>
                </div>
            </div>
        </body>
        <body>
            <div style="padding-top: 5px;">
                <div class="row">
                    <div class="col" style="padding-right: 0px;width: auto;max-width: 195px;"><label class="col-form-label d-md-flex justify-content-md-start" style="width: auto;max-width: 195px;">Fulfillment Product #20:</label></div>
                    <div class="col d-md-flex flex-grow-1 align-items-md-center" style="padding: 0px;padding-left: 0px;width: auto;max-width: none;padding-right: 5px;">{{ form.unique_product20 }}</div>
                    <div class="col" style="padding-right: 0px;width: auto;max-width: 195px;padding-left: 11px;"><label class="col-form-label d-md-flex justify-content-md-start" style="width: auto;max-width: 195px;">Fulfillment Quantity #20:</label></div>
                    <div class="col d-md-flex align-items-md-center" style="padding-left: 5px;min-width: none;max-width: 200px;width: auto;padding-right: 8px;">{{ form.order_quantity20 }}</div>
                </div>
            </div>
        </body>
            {%for message in messages %}
                {%if "unique_product_20" in message.tags %}
                    <div role="alert" class="alert alert-success d-md-flex align-items-md-center" style="background-color: rgb(255,240,163);border-color: rgba(21,87,36,0);padding-bottom: 0px;height: auto;margin-bottom: 0px;margin-top: 5px;padding-top: 0px;"><span style="color: rgb(98,79,12);"><strong>Warning!</strong> {{message}}</span></div>
                {%endif%}
            {%endfor%}

        {% if messages %}

        <body>
            <div style="padding-top: 13px;">
                <div class="row">
                    <div class="col" style="padding-right: 0px;width: auto;max-width: 195px;"><label class="col-form-label d-md-flex justify-content-md-start" style="width: auto;max-width: 195px;">Override:</label></div>
                    <div class="col d-md-flex flex-grow-1 align-items-md-center" style="padding: 0px;padding-left: 0px;width: auto;max-width: 300px;padding-right: 20px;">{{ form.override }}</div>
                </div>
            </div>
        </body>



        {% endif %}

        <br>
        <div class="text-center">
            <button class="btn btn-primary" type="submit" style="background-color: rgb(0,123,255);border-color: rgba(255,255,255,0);width: 84px;margin-left: 8px;">Submit</button>
        </div>
    </form>
</div>
{% endblock %}